<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='mainpage.css') }}">
	<link rel="icon" type="image/x-icon" href="{{ url_for( 'static', filename='favicon.ico' ) }}">
	<title>MKREEPteam - Главная</title>
</head>
<body>
	<header id="wrap">
		<!-- <img src="{{ url_for( 'static', filename='main_logo.png') }}"> -->
		<div class="mainTitle"><h1>MKREEPteam</h1></div>
		<div id="line" class="TitleBtnLogin"><a href="http://www.mkreepteam.ru/login"><button class="TitleBtnLogin">Войти</button></a></div>
		<div id="line" class="TitleBtnRegister"><a href="http://www.mkreepteam.ru/registration"><button class="TitleBtnRegister">Регистрация</button></a></div>
	</header>

	<div class="main">
		<div class="projectInfo">
			MKREEPteam - это один большой проект, основанный в 2021 году. MKREEPteam - занимаеться разработкой дочерних проектов, каждый из которых имеет свою небольшую команду. Главный финансовый принцип проекта - разделение главного дохода на всех участников проекта пропорциями, которые определяет генеральный директор MKREEPteam.
		</div>
		<div class="projects">
			Дочерние проекты MKREEPteam:
			<ul class="projectsList">
				<li>GrowerWorld</li>
				<li>MKREEP Project</li>
				<li>mkreep site</li>
				<li>Яблоки и стены</li>
				<li>Свин</li>
			</ul>
		</div>
	</div>

	<div id="contacts">
		<div id="#contacts" class="close">
			<a href="#"><button class="close">x</button></a>
		</div>
		Генеральный директор проекта:<br>
		E-mail: mkreep4ik@gmail.com<br>
		Discord: Original Owl#3770<br>
		Исполнительный директор проекта:<br>
		Discord: StarFox#5851
	</div>

	<footer>
		<div class="footerYear2021" id="line">2021</div>
		<div class="footerContacts" id="line"><a href="#contacts"><button class="footerContacts">Связь с нами</button></a></div>
		<div class="footerTitle">MKREEPteam.</div>
	</footer>
</body>
</html>